bind 0.0.0.0
port 7002
daemonize yes
cluster-enabled yes
cluster-config-file "{{ redis_base_dir }}{{ cluster_node_config_slave }}"
cluster-node-timeout 15000
protected-mode no
dir "{{ redis_base_dir }}{{ cluster_run_dir_slave }}"
appendonly yes
appendfilename "appendonly-7001.aof"
logfile "{{ redis_base_dir }}{{ cluster_config_all }}{{ cluster_config_dir_slave }}{{ cluster_config_file_name_slave }}"
cluster-replica-no-failover no
masterauth "password"
requirepass "password"
maxmemory 10MB
maxmemory-policy volatile-lfu
lazyfree-lazy-eviction yes
lazyfree-lazy-expire yes
lazyfree-lazy-server-del yes
tcp-backlog 511
tcp-keepalive 300

