bind 0.0.0.0
port 6379
daemonize yes
protected-mode no
requirepass "{{ password }}"
masterauth "{{ password }}"
dir "{{ redis_base_dir }}{{ runningDirMaster }}"
logfile "{{ redis_base_dir}}{{ logDir }}{{ master_log_file_name }}"
appendonly yes
appendfilename "master-6379.aof" 
appendfsync everysec
maxmemory 300M
maxmemory-policy volatile-lfu
lazyfree-lazy-eviction yes
lazyfree-lazy-expire yes
lazyfree-lazy-server-del yes
tcp-backlog 511
tcp-keepalive 300
