bind 0.0.0.0
port 6380
daemonize yes
protected-mode no
requirepass "{{ password }}"
masterauth "{{ password }}"
replicaof "{{ master_ip }}" "{{ master_port }}"
dir "{{ redis_base_dir }}{{ runningDirSlave }}"
logfile "{{ redis_base_dir }}{{ logDir }}{{ slave_log_file_name }}"
appendonly yes
appendfilename "master-6379.aof" 
appendfsync everysec
maxmemory 300M
maxmemory-policy volatile-lfu
lazyfree-lazy-eviction yes
lazyfree-lazy-expire yes
lazyfree-lazy-server-del yes
tcp-backlog 511
tcp-keepalive 300

